@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    width: 50vw;
    height: 150px;    
}
.waveWrapperInner {
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.wave {
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 3s linear infinite;
}



.bgImage {
    background-image: url('/static/images/AnimationImages/sincwave1.png')
  };